---
import type { CollectionEntry } from "astro:content"
import MainLayout from "$/components/layout/MainLayout.astro"
import BaseHead from "$/components/layout/BaseHead.astro"
import DateFormat from "$components/article-header/layout-1/DateFormat.astro"
import CoverImage from "$components/article-header/layout-1/CoverImage.astro"
import IconLinkList from "$/components/article-header/IconLinkList.astro"
import ArticleHeaderBlock from "$components/article-header/layout-1/ArticleHeaderBlock.astro"
import ArticleHeaderContentBlock from "$components/article-header/layout-1/ArticleHeaderContentBlock.astro"
import Body from "$components/layout/Body.astro"
import ProseGridFill from "$components/prose/ProseGridFill.astro"
import ArticleSummary from "$components/article-header/layout-1/ArticleSummary.astro"
import ArticleTitle from "$components/article-header/layout-1/ArticleTitle.astro"
import TagList from "$components/article-header/TagList.astro"

interface Props {
  content: CollectionEntry<"event">["data"]
  meta?: {
    description?: string
    ogimage?: string
  }
}
const { content, meta } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead
      image={meta?.ogimage ?? "/og-image.png"}
      title={content.title}
      description={meta?.description ?? content.description}
    />
  </head>
  <Body>
    <MainLayout>
      <ArticleHeaderBlock>
        <ArticleHeaderContentBlock slot="content">
          <Fragment slot="heading">
            <TagList tags={content.tags} />
            <ArticleTitle title={content.title} />
            <ArticleSummary summary={content.description} />
          </Fragment>
          <Fragment slot="meta">
            <IconLinkList
              links={[
                { url: content.url, icon: "iconoir:www", label: "Info" },
                { url: content.youtube, icon: "line-md/youtube", label: "YouTube" },
                { url: content.slide, icon: "bx:slideshow", label: "Slide" },
                { url: content.archive, icon: "majesticons:article-search", label: "Article" },
                { url: content.github, icon: "mingcute:github-line", label: "GitHub" }
              ]}
            />
          </Fragment>
        </ArticleHeaderContentBlock>
        <div slot="image">
          <CoverImage src={content.image} alt={content.title} />
          <DateFormat date={content.date} />
        </div>
      </ArticleHeaderBlock>
      <ProseGridFill>
        <slot />
      </ProseGridFill>
    </MainLayout>
  </Body>
</html>
