---
import type { CollectionEntry } from "astro:content"
import { SITE } from "$/config"
import MainLayout from "$/components/layout/MainLayout.astro"
import BaseHead from "$/components/layout/BaseHead.astro"
import ProseGridFill from "$/components/prose/ProseGridFill.astro"
import AvatarImage from "$components/article-header/layout-2/AvatarImage.astro"
import PublishDate from "$components/article-header/PublishDate.astro"
import type { MarkdownHeading } from "astro"
import BlogToc from "$components/toc/BlogToc.astro"
import Body from "$components/layout/Body.astro"
import ArticleTitle from "$components/article-header/layout-2/ArticleTitle.astro"
import ArticleSummary from "$components/article-header/layout-2/ArticleSummary.astro"
import ArticleHeaderBlock from "$components/article-header/layout-2/ArticleHeaderBlock.astro"
import ArticleTocBlock from "$components/article-header/layout-2/ArticleTocBlock.astro"
import TagList from "$components/article-header/TagList.astro"

interface Props {
  content: CollectionEntry<"recipe">["data"]
  headings: MarkdownHeading[]
  meta?: {
    title?: string
    description?: string
    ogimage?: string
  }
}

const { content, headings, meta } = Astro.props

const AUTHOR_NAME = SITE.author
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead
      image={meta?.ogimage ?? "/og-image.png"}
      title={meta?.title ? `${SITE.title} | ${meta.title}` : `${SITE.title} | ${content.title}`}
      description={meta?.description ?? content.description}
    />
  </head>
  <Body>
    <MainLayout>
      <div class="MainLayout-inner">
        <ArticleHeaderBlock>
          <Fragment slot="content">
            <ArticleTitle title={content.title} />
            <ArticleSummary summary={content.description} />
            <TagList tags={content.tags} />
          </Fragment>
          <Fragment slot="avatar"><AvatarImage /></Fragment>
          <Fragment slot="author">{AUTHOR_NAME}</Fragment>
          <Fragment slot="publish"><PublishDate date={content.date} /></Fragment>
        </ArticleHeaderBlock>
        <ArticleTocBlock>
          <BlogToc headings={headings} />
        </ArticleTocBlock>
        <ProseGridFill>
          <div class="main-content"><slot /></div>
        </ProseGridFill>
      </div>
    </MainLayout>
  </Body>
</html>

<style>
  .MainLayout-inner {
    display: grid;
    gap: 2rem;
  }
  .main-content {
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 2;
  }
  .main-content :global(p > img) {
    --fluid-bp-320-600: calc((100vw - 320px) / (600 - 320));
    --__max-height: 300px;
    --__space: clamp(16px, (16px + (68 - 16) * var(--fluid-bp-320-600)), 68px);

    width: 100%;
    height: 100%;
    max-height: calc(var(--__max-height) + var(--__space) * 2);

    box-sizing: border-box;

    object-position: center;
    object-fit: contain;
  }

  .main-content :global(.demo) {
    margin-inline: auto;
  }
  .main-content :global(img[src$="svg"]) {
    max-height: 250px;
    display: block;
    margin-inline: auto;
  }

  .main-content :global(:is(mark, a)) {
    background: linear-gradient(rgba(255, 255, 255, 0) 80%, #bfe1fc91 20%);
    font-weight: bold;
    color: light-dark(var(--slate-500), var(--slate-200));
  }
  :global(.dark) .main-content :global(:is(mark, a)) {
    background: linear-gradient(rgba(255, 255, 255, 0) 90%, rgb(191 225 252 / 50%) 10%);
  }
  .main-content :global(a) {
    text-decoration: none;
    line-height: 1.3;
  }
  .main-content :global(a)::after {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-dasharray='28' stroke-dashoffset='28' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 6l2 -2c1 -1 3 -1 4 0l1 1c1 1 1 3 0 4l-5 5c-1 1 -3 1 -4 0M11 18l-2 2c-1 1 -3 1 -4 0l-1 -1c-1 -1 -1 -3 0 -4l5 -5c1 -1 3 -1 4 0'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='28;0'/%3E%3C/path%3E%3C/svg%3E");
    background-color: currentColor;
    mask-image: var(--svg);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    vertical-align: text-bottom;
  }
  .main-content :global(li > a) {
    font-size: 1.25em;
    background: linear-gradient(rgba(255, 255, 255, 0) 70%, #f9e0ec 30%);
  }
  :global(.dark) .main-content :global(li > a) {
    background: linear-gradient(rgba(255, 255, 255, 0) 70%, rgb(242 137 188 / 34%) 30%);
  }
</style>
